.btn {
    background-color: #3474d4;
    padding: 12px 18px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1.1px;
    font-size: 14px;
    text-transform: uppercase;
    width: fit-content;
    cursor: pointer;
    font-family: "poppins";
    // font-family: $theme-font;
}

.danger-btn{
    background-color: #ea868f;
}
