.filter-select {
  position: sticky;
  top: 30px;
  left: 0;
  padding: 0;
  min-width: calc(25% - 15px);
  margin-bottom: 30px;
  visibility: visible;
  overflow-y: auto;
  overscroll-behavior: auto;
  z-index: 0;
  max-width: 300px;

  @media #{$lg-md-layout-1024} {
    position: fixed;
    width: 300px;
    height: 100%;
    z-index: 45456;
    padding: 0;
    transform: translateX(-120%);
    transition: transform 0.2s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    top: 0;
    background-color: $white;
  }

  &.active {
    transform: translateX(0);
  }
}

.shop-filter-toggle {
  color: #5f6368;
  background-color: #dfe0e1;
  border-radius: 100px;
  height: 50px;
  width: 50px;
  padding: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  display: none;

  @media #{$lg-md-layout-1024} {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -70px;
  }

  &:hover {
    color: $theme-color;
  }

  .filter-toggle-icon {
    width: 75%;
    height: 75%;
  }
}

.shop-filters {
  .main-heading {
    h2 {
      text-decoration: none;
      color: rgb(119, 119, 119);
      font-size: 20px;
      font-family: $theme-font;
      font-weight: 600;
      line-height: 20px;
      background: rgb(247, 247, 247);
      padding: 18px 15px;
      letter-spacing: 0.2px;
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        display: none;

        @media #{$lg-md-layout-1024} {
          display: block;
        }
      }
    }
  }

  .all-filters {
    padding: 15px;
    border: 1px solid rgb(238, 238, 238);
    background-color: rgb(255, 255, 255);

    .category-flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .color-flex {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      position: relative;
      gap: 10px;

      .color-check-input {
        position: absolute;
        left: -999999px;
      }

      .color-label {
        width: 27px;
        margin: 0 .35rem;
        height: 27px;
        border-radius: 100%;
        border: 3px solid #ececec;
        cursor: pointer;
        opacity: .7;
        transition: all .4s ease;

        &:hover {
          transform: scale(1.15);
          opacity: 1;
          border: 2px solid #777;
        }
      }
    }

    .filters-column {
      margin-bottom: 15px;
      padding-bottom: 10px;

      &:not(:last-child) {
        border-bottom: 1px solid rgb(238, 238, 238);
      }

      .column-title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 15px;
        position: relative;
        display: block;
        color: rgb(51, 51, 51);
        font-family: $theme-font;
      }
    }
  }

  .horizontal-slider {
    width: 200px;
    margin-top: 1.5rem;
  }

  .slider-thumb {
    height: 20px;
    width: 20px;
    background: $theme-color;
    border-radius: 50%;
    cursor: grab;
    top: -8px;
    position: relative;
  }

  .slider-track {
    height: 6px;
    background: #ddd;
  }

  .slider-track-1 {
    background: #007bff;
  }

  .category,
  .color,
  .size {
    padding: 0;
    margin: 0;
  }
}