.title {
  color: #212121;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  padding-bottom: 10px;
  border-bottom: 1px solid #ededed;
  margin-bottom: 30px;
}
